@import "tailwindcss";

* {
    font-family: "Inter";
    transition: 0.5s ease;
}

body {
    background-color: var(--primary-color);
    border: 2px solid black;
}

:root {
    --primary-color: #1A0B2E;
    --secondary-color-1: #00FF88;
    --secondary-color-2: #9100F8;
    --text-color-white: #FFF;
    --border-color: #412567;
    --gradient-color: linear-gradient(48deg,
            #F7E93F 16.53%,
            #FB09B4 49.82%,
            #9100F8 81.65%);
}

.gradient-text {
    background: linear-gradient(48deg,
            #F7E93F 16.53%,
            #FB09B4 49.82%,
            #9100F8 81.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.heading-font-1 {
    font-size: 60px;
    font-weight: 800;
    color: var(--text-color-white);
}

.heading-font-1-responsive {
    font-size: clamp(24px, 4vw, 60px);
    font-weight: 800;
    color: var(--text-color-white);
}

.heading-font-2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--text-color-white);
}

.heading-font-3 {
    font-size: 32px;
    font-weight: 700;
    color: var(--text-color-white);
}

.heading-font-4 {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color-white);
}

.regular-font-1 {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color-white);
}

.regular-font-2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color);
}

.rating-font {
    font-size: 48px;
    font-weight: 900;
    color: var(--secondary-color);
}

.primary-btn {
    background: var(--gradient-color);
    color: var(--primary-color);
    border-radius: 50px;
    padding: 10px 20px;
}

.primary-btn:hover {
    scale: 1.07;
    cursor: pointer;
}

.secondary-btn {
    color: var(--secondary-color-1);
    border: 2px solid var(--secondary-color-1);
    border-radius: 50px;
    padding: 10px 20px;
}

.secondary-btn:hover {
    scale: 1.07;
    cursor: pointer;
    color: var(--primary-color);
    background: var(--secondary-color-1);
}

.nav-wrapper {
    display: none;
}


/* navigation section */
nav .heading-font-1 {
    font-size: clamp(24px, 4vw, 60px);
}

nav {
    border-bottom: 1px solid var(--border-color);
}

nav ul li:hover {
    scale: 1.07;
}

nav ul a:hover {
    color: var(--secondary-color-2);
}

/* banner section */
.banner-center-images {
    background-image: url(assets/hero-bg.png);
    background-position: center;
    background-size: cover;
}

.banner-center-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.banner-mic {
    transform: translateY(-260px);
}

.new-notification {
    background-color: var(--secondary-color-1);
    font-weight: 500;
    color: var(--primary-color);
    padding: 3px 15px;
    border-radius: 15px;
    z-index: 1;
    transform: translate(120px, -500px);
}

.blur {
    background-color: var(--secondary-color-1);
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 15px;
    width: 60px;
    height: 25px;
    transform: translate(120px, -528px);
    z-index: 0;
}

.banner-heading {
    font-size: clamp(24px, 4vw, 60px);
}

/* Responsive */
/* medium device */

@media screen and (min-width: 577px) and (max-width: 992px) {
    .nav-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .nav-links {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .nav-wrapper {
        display: block;
    }

    .nav-wrapper:hover {
        cursor: pointer;
    }

    /* .banner-center-images{
        width: 100%;
    } */


}

/* small device */

@media screen and (max-width: 576px) {
    .nav-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .nav-links {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .nav-wrapper {
        display: block;
    }

    .nav-wrapper:hover {
        cursor: pointer;
    }
}